/* ! ------------------------fonts-------------------- */
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap");
@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* ! -------------------reset-styles------------------ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* ! ------------------------body-------------------- */
html,
body {
  background-color: #fff;
  min-width: 360px;
  font-weight: 400;
  font-style: normal;
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
  color: #000;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* ! ------------------------styles------------------ */
.wrapper {
  padding: 0 15px;
}

.button {
  display: inline-block;
  position: relative;
  top: 0;
  font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  background-color: #ffbc2a;
  padding: 10px 41px 7px 40px;
  border-bottom: 4px solid #a78a07;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  text-transform: uppercase;
}
.button:hover {
  top: -2px;
}
.button:active {
  top: 0;
}
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 200px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 100%);
  position: absolute;
  left: -120px;
  top: -50px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}
@keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}
.header {
  font-weight: 700;
  font-size: 18px;
  padding: 24px 0px 20px;
  background-color: #fff;
}
.header__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.header__logo {
  width: 207px;
}
.header__logo img {
  width: 100%;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__tel {
  margin-right: 28px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__tel:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__button {
  letter-spacing: 1px;
}
.header__instagram {
  position: relative;
  top: 0;
  margin-left: 14px;
  max-width: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__instagram:hover {
  top: -2px;
}
.header__instagram img {
  width: 100%;
}
.header__instagram:active {
  top: 0;
}
.header__vk {
  position: relative;
  top: 0;
  margin-left: 31px;
  max-width: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__vk:hover {
  top: -2px;
}
.header__vk img {
  width: 100%;
}
.header__vk:active {
  top: 0;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 857px;
}
.header__item {
  margin-right: 20px;
  position: relative;
}
.header__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #000;
  width: 0;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__item:hover.header__item::after {
  width: 100%;
}
.header__item:last-child {
  margin-right: 0;
}

.face {
  background-image: url("../img/face_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 160px 0 323px;
}
.face__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(250, 250, 250, 0.65);
  max-width: 970px;
  padding: 40px 72px 46px 75px;
  margin: 0 auto;
}
.face__container::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 308px;
  height: 308px;
  background-image: url("../img/face_angle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.face__title {
  text-transform: uppercase;
  font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  line-height: normal;
  max-width: 823px;
  text-align: center;
  line-height: normal;
}
.face__description {
  text-align: center;
  font-size: 26px;
  line-height: 1.15;
}
.face__button {
  margin-top: 24px;
  letter-spacing: 1px;
}

.option {
  -webkit-transform: translateY(-103px);
          transform: translateY(-103px);
  margin-bottom: 174px;
}
.option__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.option__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.option__card {
  position: relative;
  width: 21.28%;
  min-height: 485px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.option__card_1 {
  background-image: url("../img/option_1.png");
}
.option__card_2 {
  background-image: url("../img/option_2.png");
}
.option__card_3 {
  background-image: url("../img/option_3.png");
}
.option__card_4 {
  background-image: url("../img/option_4.png");
}
.option__container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 92.8%;
  padding: 15px 17px 8px;
  background-color: rgba(250, 250, 250, 0.65);
}
.option__title {
  font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
}
.option__button {
  padding: 9px 56px 9px 45px;
}

.title {
  font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 0 auto;
}

.optionally {
  background-color: #f9f9f9;
  padding: 62px 0 132px;
}
.optionally__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.optionally__title {
  max-width: 441px;
  margin-bottom: 72px;
}
.optionally__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 9px;
}
.optionally__card {
  width: 29.4%;
}

.card {
  position: relative;
}
.card::before {
  content: "";
  position: absolute;
  top: -9px;
  right: -9px;
  width: 218px;
  height: 185px;
  background-color: #ffbc2a;
}
.card::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: -9px;
  width: 218px;
  height: 185px;
  background-color: #a78a07;
}
.card__wrapper {
  position: relative;
  z-index: 3;
  padding: 21px 20px 42px;
  height: 100%;
  background-color: #fafafa;
}
.card__title {
  position: relative;
  font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.card__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.card__title_1 {
  padding-left: 61px;
}
.card__title_1::before {
  width: 45px;
  height: 47px;
  background-image: url("../img/optionally_1.png");
}
.card__title_2 {
  padding-left: 67px;
}
.card__title_2::before {
  width: 51px;
  height: 50px;
  background-image: url("../img/optionally_2.png");
}
.card__title_3 {
  padding-left: 61px;
}
.card__title_3::before {
  width: 45px;
  height: 51px;
  background-image: url("../img/optionally_3.png");
}
.card__description {
  font-weight: 700;
  max-width: 280px;
  margin-bottom: 15px;
}
.card__characteristic {
  position: relative;
  padding-left: 19px;
}
.card__characteristic::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 9px;
  height: 9px;
  background-image: url("../svg/card_item.svg");
}
.card__characteristic:nth-child(n+2) {
  margin-top: 15px;
}

.product {
  margin-top: 140px;
}
.product:last-child {
  margin-bottom: 228px;
}
.product span {
  font-weight: 700;
}
.product__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.product__title {
  margin-bottom: 55px;
}
.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product__gallery {
  max-width: 550px;
}
.product__content {
  margin-left: 60px;
}
.product__characteristic {
  position: relative;
  padding-left: 19px;
}
.product__characteristic::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 9px;
  height: 9px;
  background-image: url("../svg/card_item.svg");
}
.product__characteristic:nth-child(n+2) {
  margin-top: 20px;
}
.product__description {
  margin-top: 20px;
}
.product__button-1 {
  margin-top: 27px;
}
.product__time {
  margin-top: 33px;
}
.product__delivery {
  margin-top: 20px;
}
.product__button-2 {
  margin-top: 34px;
}

.gallery__main {
  position: relative;
  width: 100%;
}
.gallery__main::before {
  content: "";
  position: absolute;
  top: -9px;
  right: -9px;
  width: 218px;
  height: 185px;
  background-color: #ffbc2a;
}
.gallery__main img {
  position: relative;
  z-index: 3;
}
.gallery__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 13px;
}
.gallery__image {
  cursor: pointer;
}
.gallery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}
.gallery__button {
  width: 43px;
  height: 38px;
  background-color: #ffbc2a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 19px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__button:hover {
  background-color: #a78a07;
}
.gallery__left {
  background-image: url("../img/arrow_left.png");
}
.gallery__right {
  background-image: url("../img/arrow_right.png");
}