/* ! ------------------------fonts-------------------- */

@import url('https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap');
@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* ! -------------------reset-styles------------------ */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


/* ! ------------------------body-------------------- */

html,
body {
  background-color: #fff;
  min-width: 360px;
  font-weight: 400;
  font-style: normal;
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
  color: #000;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}


/* ! ------------------------styles------------------ */

.wrapper {
  padding: 0 15px;
}

.button {
  display: inline-block;
  position: relative;
  top: 0;
  font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  background-color: #ffbc2a;
  padding: 10px 41px 7px 40px;
  border-bottom: 4px solid #a78a07;
  transition: all .3s ease;
  overflow: hidden;
  text-transform: uppercase;
  &:hover {
    top: -2px;
  }
  &:active {
    top: 0;
  }
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 200px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 100%);
    position: absolute;
    left: -120px;
    top: -50px;
    z-index: 1;
    transform: rotate(45deg);
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

@-webkit-keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}

@keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}

.header {
  font-weight: 700;
  font-size: 18px;
  padding: 24px 0px 20px;
  background-color: #fff;
  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__logo {
    width: 207px;
    & img {
      width: 100%;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
  }
  &__tel {
    margin-right: 28px;
    transition: all .3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__button {
    letter-spacing: 1px;
  }
  &__instagram {
    position: relative;
    top: 0;
    margin-left: 14px;
    max-width: 30px;
    transition: all .3s ease;
    &:hover {
      top: -2px;
    }
    & img {
      width: 100%;
    }
    &:active {
      top: 0;
    }
  }
  &__vk {
    position: relative;
    top: 0;
    margin-left: 31px;
    max-width: 30px;
    transition: all .3s ease;
    &:hover {
      top: -2px;
    }
    & img {
      width: 100%;
    }
    &:active {
      top: 0;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 857px;
  }
  &__item {
    margin-right: 20px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: #000;
      width: 0;
      margin: 0 auto;
      transition: all .3s ease;
    }
    &:hover.header__item::after {
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.face {
  background-image: url('../img/face_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 160px 0 323px;
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: #fafafa, $alpha: 0.65);
    max-width: 970px;
    padding: 40px 72px 46px 75px;
    margin: 0 auto;
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: -10px;
      width: 308px;
      height: 308px;
      background-image: url('../img/face_angle.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }
  &__title {
    text-transform: uppercase;
    font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: normal;
    max-width: 823px;
    text-align: center;
    line-height: normal;
  }
  &__description {
    text-align: center;
    font-size: 26px;
    line-height: 1.15;
  }
  &__button {
    margin-top: 24px;
    letter-spacing: 1px;
  }
}

.option {
  transform: translateY(-103px);
  margin-bottom: 174px;
  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__card {
    position: relative;
    width: 20.75%;
    min-height: 485px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    &_1 {
      background-image: url('../img/option_1.png');
    }
    &_2 {
      background-image: url('../img/option_2.png');
    }
    &_3 {
      background-image: url('../img/option_3.png');
    }
    &_4 {
      background-image: url('../img/option_4.png');
    }
  }
  &__container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 92.8%;
    padding: 15px 17px 8px;
    background-color: rgba($color: #fafafa, $alpha: 0.65);
  }
  &__title {
    font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
  }
  &__button {
    padding: 9px 56px 9px 45px;
  }
}