/* ! ------------------------fonts-------------------- */

@import url('https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap');
@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* ! -------------------reset-styles------------------ */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


/* ! ------------------------body-------------------- */

html,
body {
  background-color: #fff;
  min-width: 320px;
  font-weight: 400;
  font-style: normal;
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
  color: #000;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

body.lock,
html.lock {
  overflow: hidden;
}


/* ! ------------------------styles------------------ */

.wrapper {
  padding: 0 15px;
}

._scroll {
  transform: translateY(10%);
  opacity: 0;
  transition: all .8s ease;
  &._active {
    transform: translateY(0);
    opacity: 1;
  }
}

._hide {
  display: none;
  position: absolute;
  opacity: 0;
  left: -100%;
}

.button {
  display: inline-block;
  position: relative;
  z-index: 20;
  top: 0;
  font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  background-color: #ffbc2a;
  padding: 10px 41px 7px 40px;
  border-bottom: 4px solid #a78a07;
  transition: all .3s ease;
  overflow: hidden;
  text-transform: uppercase;
  &:hover {
    top: -2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.438);
  }
  &:active {
    top: 0;
    box-shadow: none;
  }
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 200px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 100%);
    position: absolute;
    left: -120px;
    top: -50px;
    z-index: 1;
    transform: rotate(45deg);
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

@-webkit-keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}

@keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 0px;
  background-color: #fff;
  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__mobile {
    display: none;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__logo {
    width: 207px;
    & img {
      width: 100%;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
  }
  &__tel {
    margin-right: 28px;
    transition: all .3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__button {
    letter-spacing: 1px;
  }
  &__instagram {
    position: relative;
    top: 0;
    margin-left: 14px;
    max-width: 30px;
    transition: all .3s ease;
    &:hover {
      top: -2px;
    }
    & img {
      width: 100%;
    }
    &:active {
      top: 0;
    }
  }
  &__vk {
    position: relative;
    top: 0;
    margin-left: 31px;
    max-width: 30px;
    transition: all .3s ease;
    &:hover {
      top: -2px;
    }
    & img {
      width: 100%;
    }
    &:active {
      top: 0;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 857px;
  }
  &__item {
    margin-right: 20px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: #000;
      width: 0;
      margin: 0 auto;
      transition: all .3s ease;
    }
    &:hover.header__item::after {
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

#map {
  width: 100%;
  height: 420px;
}

#map-mobile {
  display: none;
  width: 100%;
  height: 420px;
}

.burger {
  display: none;
}

.face {
  background-image: url('../img/face_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 311px 0 323px;
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: #fafafa, $alpha: 0.65);
    max-width: 970px;
    padding: 40px 72px 46px 75px;
    margin: 0 auto;
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: -10px;
      width: 308px;
      height: 308px;
      background-image: url('../img/face_angle.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left bottom;
    }
  }
  &__title {
    text-transform: uppercase;
    font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: normal;
    max-width: 823px;
    text-align: center;
    line-height: normal;
  }
  &__description {
    text-align: center;
    font-size: 26px;
    line-height: 1.15;
  }
  &__button {
    margin-top: 24px;
    letter-spacing: 1px;
  }
}

.option {
  transform: translateY(-103px);
  margin-bottom: 15px;
  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__card {
    position: relative;
    width: 21.28%;
    min-height: 485px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    &_1 {
      background-image: url('../img/option_1.png');
    }
    &_2 {
      background-image: url('../img/option_2.png');
    }
    &_3 {
      background-image: url('../img/option_3.png');
    }
    &_4 {
      background-image: url('../img/option_4.png');
    }
  }
  &__container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 92.8%;
    padding: 15px 17px 8px;
    background-color: rgba($color: #fafafa, $alpha: 0.65);
  }
  &__title {
    font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
  }
  &__button {
    padding: 9px 56px 9px 45px;
  }
}

.title {
  font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 0 auto;
}

.optionally {
  background-color: #f9f9f9;
  padding: 62px 0 132px;
  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__title {
    max-width: 441px;
    margin-bottom: 72px;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    margin-left: 9px;
  }
  &__card {
    width: 29.4%;
  }
}

.card {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -9px;
    right: -9px;
    width: 218px;
    height: 185px;
    background-color: #ffbc2a;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: -9px;
    width: 218px;
    height: 185px;
    background-color: #a78a07;
  }
  &__wrapper {
    position: relative;
    z-index: 3;
    padding: 21px 20px 42px;
    height: 100%;
    background-color: #fafafa;
  }
  &__title {
    position: relative;
    font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &_1 {
      padding-left: 61px;
      &::before {
        width: 45px;
        height: 47px;
        background-image: url('../img/optionally_1.png');
      }
    }
    &_2 {
      padding-left: 67px;
      &::before {
        width: 51px;
        height: 50px;
        background-image: url('../img/optionally_2.png');
      }
    }
    &_3 {
      padding-left: 61px;
      &::before {
        width: 45px;
        height: 51px;
        background-image: url('../img/optionally_3.png');
      }
    }
  }
  &__description {
    font-weight: 700;
    max-width: 280px;
    margin-bottom: 15px;
  }
  &__characteristics {}
  &__characteristic {
    position: relative;
    padding-left: 19px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 9px;
      height: 9px;
      background-image: url('../svg/card_item.svg');
    }
    &:nth-child(n+2) {
      margin-top: 15px;
    }
  }
}

.product {
  position: relative;
  margin-top: 140px;
  &:last-child {
    margin-bottom: 228px;
  }
  span {
    font-weight: 700;
  }
  &__wrapper {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 55px;
  }
  &__container {
    display: flex;
  }
  &__gallery {
    max-width: 550px;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
  }
  &__content {
    margin-left: 60px;
  }
  &__characteristics {}
  &__characteristic {
    position: relative;
    padding-left: 19px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 9px;
      height: 9px;
      background-image: url('../svg/card_item.svg');
    }
    &:nth-child(n+2) {
      margin-top: 20px;
    }
  }
  &__description {
    margin-top: 20px;
  }
  &__button-1 {
    margin-top: 27px;
  }
  &__time {
    margin-top: 33px;
  }
  &__delivery {
    margin-top: 20px;
  }
  &__button-2 {
    margin-top: 34px;
  }
  &__triangle {
    position: absolute;
    &_left {
      left: -218px;
      width: 435px;
      bottom: 0;
    }
    &_right {
      right: -242px;
      width: 483px;
      top: -400px;
    }
    &_left-dual {
      left: -384px;
      top: 0;
    }
  }
  &__buttons-mobile {
    display: none;
  }
}

.gallery {
  &__main {
    position: relative;
    width: 100%;
    &::before {
      content: '';
      position: absolute;
      top: -9px;
      right: -9px;
      width: 218px;
      height: 185px;
      background-color: #ffbc2a;
    }
    & img {
      position: relative;
      z-index: 3;
      width: 100%;
    }
  }
  &__images {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    width: 100%;
  }
  &__image {
    position: relative;
    z-index: 3;
    width: 24%;
    cursor: pointer;
    & img {
      position: relative;
      transition: all .3s ease;
      max-width: 100%;
      &:hover {
        // box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
      }
      &:active {
        box-shadow: none;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  &__button {
    width: 43px;
    height: 38px;
    background-color: #ffbc2a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 19px;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
      background-color: #a78a07;
    }
  }
  &__left {
    background-image: url('../img/arrow_left.png');
  }
  &__right {
    background-image: url('../img/arrow_right.png');
  }
}

.calculator {
  background-color: #f9f9f9;
  padding: 60px 0 75px;
  margin-top: 100px;
  &__wrapper {
    max-width: 1040px;
    padding: 25px 90px 45px;
    background-image: url('../img/calculator_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid #ffbc2a;
    margin: 0 auto;
  }
  &_margin-top {
    margin-top: 20px;
  }
  &__title {}
  &__form {
    display: flex;
    color: #262626;
    font-size: 16px;
    font-weight: 700;
    & label {
      cursor: pointer;
    }
  }
  &__left-col {
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 22px;
    margin-top: 45px;
  }
  &__select {
    width: 422px;
    height: 53px;
    border: 2px solid #ffbc2a;
    border-radius: 10px;
    padding: 0 26px 0 29px;
    font-size: 16px;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../svg/select_triangle.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 26px center;
    color: inherit;
    &:focus {
      border: 2px solid #a78a07;
    }
  }
  &__radio {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    &:checked~.calculator__radio-name::after {
      transform: scale(1);
    }
  }
  &__radio-name {
    position: relative;
    padding-left: 17px;
    margin-left: 20px;
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: -3px;
      left: -20px;
      border: 2px solid #ffbc2a;
      border-radius: 5px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      left: -16px;
      top: 1px;
      background-color: #ffbc2a;
      border-radius: 3px;
      transform: scale(0);
      transition: all .3s ease;
    }
  }
  &__right-col {
    display: flex;
    flex-direction: column;
    margin-left: 178px;
  }
  &__price {
    font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 57px;
    margin-bottom: 32px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__button {}
}

.range {
  display: flex;
  flex-direction: column;
  &_margin {
    margin-top: 32px;
  }
  &__title {
    margin-bottom: 35px;
  }
  &__container {
    position: relative;
    width: 100%;
    max-width: 377px;
  }
  &__error {
    margin-top: 40px;
    width: 100%;
    color: rgb(207, 5, 5);
    font-weight: 400;
    border: 1px solid rgb(207, 5, 5);
    background-color: rgba(207, 5, 5, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
  }
  &__values {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 302px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: #262626;
    font-size: 12px;
    font-weight: 400;
  }
  &__min-value {}
  &__value {
    margin-top: -4px;
  }
  &__max-value {}
  &__input {
    position: relative;
    width: 100%;
    max-width: 302px;
    margin-left: 37px;
    // ! Скрываем стандартный ползунок:
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Скрывает слайдер, чтобы можно было создать свой */
    appearance: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      /* Скрывает слайдер, чтобы можно было создать свой */
      appearance: none;
    }
    &:focus {
      /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
      outline: none;
    }
    &::-ms-track {
      width: 100%;
      cursor: pointer;
      /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    // ! Кругляшок:
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: #ffbc2a;
      cursor: pointer;
      /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
      margin-top: -11px;
    }
    &::-moz-range-thumb {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: #ffbc2a;
      cursor: pointer;
    }
    &::-ms-thumb {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: #ffbc2a;
      cursor: pointer;
    }
    // ! Полоса:
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: #ffbc2a;
      border-radius: 1px;
    }
    &:focus::-webkit-slider-runnable-track {
      background: #a78a07;
    }
    &:focus::-webkit-slider-thumb {
      background: #a78a07;
    }
    &::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: #ffbc2a;
      border-radius: 1.3px;
    }
    &::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    // ! Для IE 10+
    &::-ms-fill-lower {
      background: #ffbc2a;
      border-radius: 2.6px;
    }
    &:focus::-ms-fill-lower {
      background: #a78a07;
    }
    &::-ms-fill-upper {
      background: #ffbc2a;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    &:focus::-ms-fill-upper {
      background: #a78a07;
    }
    // ! Кнопки:
  }
  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffbc2a;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    color: #262626;
    font-size: 18px;
    font-weight: 700;
    &_right {
      top: 0px;
      right: 0px;
    }
    &_left {
      top: 0px;
      left: 0px;
    }
  }
}

.instruction {
  padding: 70px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1015px;
    width: 100%;
    margin: 0 auto;
  }
  &__content {}
  &__title {
    text-align: left;
    font-size: 48px;
    letter-spacing: 5px;
  }
  &__description {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    max-width: 260px;
  }
  &__button {
    margin-top: 28px;
  }
  &__img {
    max-width: 410px;
    & img {
      width: 100%;
    }
  }
}

.deadlines {
  color: #262626;
  font-weight: 700;
  background-color: #f9f9f9;
  padding: 90px 0 110px;
  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__img {
    width: 71%;
    max-height: 426px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -9px;
      right: -9px;
      width: 253px;
      height: 215px;
      background-color: #ffbc2a;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: -9px;
      width: 253px;
      height: 215px;
      background-color: #a78a07;
    }
    & img {
      position: relative;
      z-index: 3;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
  }
  &__title {
    font-size: 30px;
    text-align: left;
    color: #000;
    margin: 0;
    &:first-child {
      margin-top: -5px;
      margin-bottom: 10px;
    }
  }
  &__description {}
  &__item {
    position: relative;
    padding-left: 39px;
    &:nth-child(n+2) {
      margin-top: 16px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -2px;
      width: 22px;
      height: 22px;
      background-image: url('../img/deadlines_item.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__price {
    font-size: 20px;
    margin-top: 20px;
  }
  &__type {
    position: relative;
    padding-left: 19px;
    margin-top: 15px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 9px;
      height: 9px;
      background-image: url('../svg/card_item.svg');
    }
  }
  &_margin {
    margin-top: 42px;
  }
}

.contacts {
  position: relative;
  width: 100%;
  color: #262626;
  font-weight: 700;
  margin: 100px 0 60px;
  &__map {
    width: 100%;
    & img {
      width: 100%;
    }
  }
  &__content {
    position: absolute;
    left: 20.28%;
    top: 0;
    background-color: rgba($color: #ffbc2a, $alpha: 0.83);
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px 70px;
  }
  &__title {
    font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: #000;
    margin-bottom: 22px;
  }
  &__address {
    font-size: 20px;
    margin-bottom: 17px;
  }
  &__description {
    font-size: 20px;
    margin-bottom: 17px;
    &_bold {
      font-weight: 900;
    }
  }
  &__tel {
    margin-top: 7px;
    font-size: 30px;
  }
}

.footer {
  background-color: #f9f9f9;
  padding: 34px 0 40px;
  font-weight: 700;
  font-size: 18px;
  &__container {
    margin-bottom: 0;
    align-items: flex-end;
  }
  &__tel {
    position: relative;
    top: 0;
    transition: all .3s ease;
    &:hover {
      top: -2px;
    }
  }
  &__address {
    margin-top: 7px;
    color: #262626;
  }
  &__social {
    display: flex;
  }
}

.popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 42px 15px;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  background-color: rgba(00, 00, 00, 0.7);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s ease 0s;
  color: #fff;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &.open .popup__content {
    transform: translateY(0);
    opacity: 1;
  }
  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    position: relative;
    background-color: #f9f9f9;
    transition: all 1s ease 0s;
    opacity: 0;
    padding: 43px;
    width: 100%;
    max-width: 560px;
    transform: perspective(600px) translateY(-200%) rotateX(45deg);
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 217px;
      height: 217px;
      border-radius: 100%;
      background: linear-gradient( 147.31deg, rgba(255, 255, 255, 0.17) 45.74%, rgba(230, 230, 230, 0) 86.05%);
      opacity: .2;
      top: 27px;
      left: 27px;
    }
  }
  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: unset;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:focus {
      outline: none;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    color: #000;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    border-radius: 6px;
    border: 2px solid #ffbc2a;
    background: #fff;
    color: #000;
    margin-bottom: 13px;
    height: 48px;
    width: 100%;
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-size: 18px;
    &::-webkit-input-placeholder {
      color: #262626;
      font-size: 16px;
      opacity: 0.8;
    }
    &::-moz-placeholder {
      color: #262626;
      font-size: 16px;
      opacity: 0.8;
    }
    &:-ms-input-placeholder {
      color: #262626;
      font-size: 16px;
      opacity: 0.8;
    }
    &::-ms-input-placeholder {
      color: #262626;
      font-size: 16px;
      opacity: 0.8;
    }
    &::placeholder {
      color: #262626;
      opacity: 0.8;
      font-size: 16px;
    }
    &:focus {
      outline: none;
      border: 2px solid #a78a07;
    }
  }
  &__name {}
  &__tel {
    margin-top: 20px;
  }
  &__email {
    margin-top: 20px;
  }
  &__button {
    margin: 20px auto 0 auto;
    width: 100%;
    max-width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-family: "Bebas Neue Bold", "Arial", "Helvetica", sans-serif;
    letter-spacing: 2px;
    margin-top: 30px;
    transition: all .3s ease;
    &:hover {
      transition: all .3s ease;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.438);
    }
  }
}

@media (max-width: 1070px) {
  .option {
    margin-bottom: 40px;
    &__card {
      width: 23.5%;
    }
    &__button {
      padding-left: 20px;
      padding-right: 40px;
    }
    &__title {
      font-size: 26px;
    }
  }
  .card {
    &__title {
      font-size: 20px;
    }
    &__description {
      font-size: 14px;
    }
  }
  .product {
    margin-top: 110px;
    &__gallery {
      width: 50%;
    }
    &__content {
      margin-left: 40px;
    }
  }
  .calculator {
    &__wrapper {
      padding-left: 40px;
      padding-right: 40px;
    }
    &__right-col {
      margin-left: 60px;
    }
  }
  .instruction {
    padding-top: 75px;
    padding-bottom: 100px;
    &__title {
      font-size: 43px;
    }
  }
  .contacts {
    margin-top: 120px;
    &__content {
      padding: 30px;
    }
    &__title {
      margin-bottom: 5px;
    }
    &__address {
      font-size: 18px;
    }
    &__description {
      margin-bottom: 5px;
    }
  }
  .footer {
    &__tel {
      font-size: 16px;
    }
    &__address {
      font-size: 16px;
    }
  }
}

@media (max-width: 880px) {
  .header {
    &__contacts {
      display: none;
    }
    &__top {
      margin-bottom: 0;
    }
    &__mobile {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -55px;
        width: 320px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    &__social {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    &__tel {
      margin-right: 0;
      text-align: center;
      margin-bottom: 20px;
    }
    &__list {
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      top: 105px;
      right: -600px;
      height: calc(100vh - 105px);
      max-width: 320px;
      width: 100%;
      background-color: #fff;
      overflow: auto;
      padding: 45px;
      font-size: 20px;
      box-shadow: -20px 30px 25px rgba(0, 0, 0, 0.356);
      transition: all .5s ease;
      &.active {
        right: 0;
      }
    }
    &__item {
      &:nth-child(n+2) {
        margin: 30px 0 0 0;
      }
    }
  }
  .burger {
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    z-index: 15;
    cursor: pointer;
    margin-left: 30px;
    &__icon {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 51px;
      height: 28px;
      z-index: 10;
      span {
        position: absolute;
        background-color: #ffbc2a;
        left: 0;
        width: 100%;
        height: 7px;
        top: 10px;
        transition: all 0.5s ease 0s;
      }
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 7px;
        left: 0;
        background-color: #ffbc2a;
        transition: all 0.5s ease 0s;
      }
      &::after {
        bottom: 1px;
      }
      &::before {
        top: 0;
      }
      &.active span {
        transform: scale(0);
      }
      &.active::before {
        transform: rotate(45deg);
        top: 11px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }
  }
  .face {
    padding-top: 273px;
    padding-bottom: 263px;
    &__container {
      padding: 30px 45px 25px 45px;
      max-width: 505px;
      &::after {
        width: 251px;
        height: 251px;
      }
    }
    &__title {
      font-size: 30px;
      letter-spacing: 2px;
    }
    &__description {
      font-size: 18px;
      margin-top: 5px;
    }
  }
  .option {
    &__wrapper {
      max-width: 554px;
    }
    &__cards {
      flex-wrap: wrap;
    }
    &__card {
      width: 44.27%;
      min-height: 451px;
      &:nth-child(n+3) {
        margin-top: 60px;
      }
    }
    &__container {
      width: 100%;
    }
    &__title {
      font-size: 30px;
      &_width {
        max-width: 112px;
      }
    }
  }
  .button {
    padding: 9px 55px 9px 45px;
    &_hidden {
      display: none;
    }
  }
  .optionally {
    padding-bottom: 105px;
    &__cards {
      flex-direction: column;
      max-width: 344px;
      margin: 0 auto;
    }
    &__card {
      width: 100%;
      &:nth-child(n+2) {
        margin-top: 80px;
      }
    }
  }
  .card {
    &__title {
      font-size: 30px;
    }
    &__description {
      font-size: 16px;
    }
  }
  .product {
    &__container {
      flex-direction: column;
      max-width: 509px;
      margin: 0 auto;
    }
    &__gallery {
      width: 100%;
    }
    &__content {
      margin-left: 0;
      margin-top: 70px;
    }
    &__triangle {
      &_left {
        top: 0;
        bottom: auto;
      }
      &_right {
        right: -361px;
        top: auto;
        bottom: -310px;
      }
      &_left-dual {
        left: -493px;
      }
    }
    &__buttons-mobile {
      display: flex;
      margin-top: 30px;
    }
    &__button-1 {
      padding: 12px 15px 9px 19px;
      margin: 0;
      letter-spacing: 2px;
    }
    &__button-2 {
      padding: 11px 55px;
      margin: 0 0 0 52px;
      letter-spacing: 2px;
    }
  }
  .calculator {
    &__wrapper {
      max-width: 525px;
    }
    &_margin-top {
      margin-top: 0;
    }
    &__box {
      & label {
        &:nth-child(n+3) {
          margin-top: 22px;
        }
      }
    }
    &__form {
      flex-direction: column;
    }
    &__right-col {
      margin-left: 0;
    }
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      & label {
        width: 50%;
      }
    }
  }
  .instruction {
    &__wrapper {
      flex-direction: column-reverse;
    }
    &__img {
      max-width: 315px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-size: 48px;
    }
    &__description {
      text-align: center;
    }
  }
  .contacts {
    &__address {
      font-size: 20px;
    }
    &__description {
      margin-bottom: 15px;
    }
  }
  .deadlines {
    padding: 52px 0;
    &__wrapper {
      position: relative;
      padding-left: 0;
      padding-right: 0;
    }
    &__img {
      min-height: 522px;
      width: 100%;
      transform: scaleX(-1);
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
    &__title {
      font-size: 24px;
      &_width {
        max-width: 210px;
      }
    }
    &__content {
      position: absolute;
      margin: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 374px;
      z-index: 3;
      padding: 40px 45px 40px 30px;
      background-color: rgba($color: #fff, $alpha: 0.83);
    }
    &__item {
      font-size: 14px;
    }
    &__price {
      font-size: 16px;
    }
    &__type {
      font-size: 14px;
    }
  }
  .footer {
    padding: 43px 0 105px 0;
    &__contacts {
      display: flex;
      flex-direction: column;
    }
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:nth-child(2) {
        margin-top: 30px;
        margin-bottom: 37px;
      }
    }
  }
}

@media (max-width: 615px) {
  #map {
    display: none;
  }
  #map-mobile {
    display: block;
  }
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    &__content {
      position: relative;
      width: 100%;
      left: 0;
    }
  }
}

@media (max-width: 521px) {
  .face {
    padding-top: 210px;
    &__container {
      padding: 20px 7px;
    }
    &__title {
      font-size: 23px;
      letter-spacing: 1px;
    }
    &__description {
      font-size: 16px;
    }
  }
  .button {
    padding-left: 20px;
    padding-right: 20px;
  }
  .option {
    padding-bottom: 0;
    &__card {
      width: 48%;
      min-height: 350px;
    }
    &__title {
      font-size: 24px;
      letter-spacing: 1px;
    }
  }
  .title {
    font-size: 26px;
    letter-spacing: 2px;
  }
  .card {
    &__title {
      font-size: 24px;
      &_1 {
        max-width: 270px;
      }
    }
  }
  .product {
    &__content {
      margin-top: 40px;
    }
    &__buttons-mobile {
      justify-content: center;
    }
    &__button-1 {
      letter-spacing: 0;
    }
    &__button-2 {
      margin-left: 10px;
      letter-spacing: 1px;
    }
    &__triangle {
      &_left {
        left: -280px;
      }
      &_right {
        right: -380px;
      }
      &_left-dual {
        left: -575px;
      }
    }
  }
  .calculator {
    &__wrapper {
      padding: 20px;
    }
    &__form {
      font-size: 14px;
    }
    &__select {
      width: 100%;
    }
  }
  .instruction {
    &__title {
      letter-spacing: 2px;
    }
    &__description {
      letter-spacing: 1px;
    }
  }
  .deadlines {
    &__content {
      width: 100%;
    }
    &__title {
      &_width {
        max-width: 300px;
      }
    }
  }
  .contacts {
    &__content {
      padding: 20px;
    }
    &__description {
      font-size: 19px;
    }
  }
}

@media (max-width: 467px) {
  .range {
    &__container {
      max-width: 269px;
    }
    &__values {
      max-width: 194px;
    }
    &__input {
      max-width: 194px;
    }
  }
}

@media (max-width: 439px) {
  .popup {
    &__title {
      letter-spacing: 0;
    }
    &__content {
      padding: 60px 20px;
    }
  }
  .contacts {
    &__address {
      font-size: 19px;
    }
    &__description {
      font-size: 18px;
    }
  }
}

@media (max-width: 359px) {
  .option {
    &__title {
      font-size: 20px;
      margin-bottom: 5px;
    }
    &__card {
      &:nth-child(n+3) {
        margin-top: 20px;
      }
    }
  }
  .product {
    &__button-1 {
      letter-spacing: 0;
    }
  }
  .button {
    font-size: 17px;
  }
  .calculator {
    &__form {
      font-weight: 400;
    }
  }
  .deadlines {
    &_margin {
      margin-top: 20px;
    }
    &__content {
      padding: 25px;
    }
  }
  .title {
    font-size: 24px;
  }
  .contacts {
    &__address {
      font-size: 17px;
    }
    &__description {
      font-size: 16px;
    }
  }
  .range {
    &__container {
      max-width: 245px;
    }
    &__values {
      max-width: 170px;
    }
    &__input {
      max-width: 170px;
    }
  }
}